<!DOCTYPE html>
<html>
<head>
	<title></title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<img src="http://smitkit.com/wp-content/uploads/2017/11/Cat-Kitten-Boarding.png">
<h1>Edit a Cat</h1>
<form class="build-a-cat" action="/cats" method="POST">
	Name: <input type="input" id="cat-name" name="name" placeholder="<%=cats.name%>">
	Age:<input type="input" id="cat-age" name="age" placeholder="<%= cats.age %>">
	<input type="submit" id="create cat">

</form>
</body>
</html>