<!DOCTYPE html>
<html>
<head>
	<title>Cat App Mockup</title>
</head>
<body>
	<h1>Cats Home Page</h1>
	<h2>Find out more about our cats.</h2>
	
	<% for (let i = 0; i < catsList.length; i++) { %>
		<h3><a href=""><%=catsList[i].name %></a></h3>
	<%}%>
</body>
</html>