<!DOCTYPE html>
<html>
<head>
	<title>Cat App Mockup</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
</head>
<body class="index">
	<img src="http://smitkit.com/wp-content/uploads/2017/11/Cat-Kitten-Boarding.png">
	<h1>Cats Home Page</h1>
	<h2>Find out more about our cats.</h2>
	
	<% for (let i = 0; i < catsList.length; i++) { %>

		<h3><a href="/cats/<%= catsList[i].id %>"><%=catsList[i].name %></a></h3>
	<%}%>
</body>
</html>