<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Build a Cat</h1>
<form class="build-a-cat">
	<input type="input" id="cat-name" placeholder="cat's name">
	<input type="input" id="cat-age" placeholder="cat's age">
	<input type="input" id="cat-id" placeholder="cat's id">
	<input type="submit" id="create cat">

</form>
</body>
</html>