<!DOCTYPE html>
<html>
<head>
	<title></title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<img src="http://smitkit.com/wp-content/uploads/2017/11/Cat-Kitten-Boarding.png">
	<h1>I'm a cat</h1>
	<h2><%=cat.name%></h2>
	<h2><%=cat.age%></h2>
	<h2><%=cat.id%></h2>
	<h3><a href="/cats">Back to Home</a></h3>

</body>
</html>